## Resumo:

Faça aqui o resumo das suas analises, destacando os pontos principais do seu projeto

## Análise dos dados:

Inicie aqui o desenvolvimento do seu projeto, não esqueça de adicionar textos curtos e objetivos para que os avaliadores entendam sua linha de raciocínio e as conclusões que você está chegando crie uma narrativa convincente e coerênte aos dados analisados.

### Importando as bibliotecas

In [25]:
import pandas as pd

In [26]:
### Dados

### Importanto os dados  
Os dados foram extraidos  da [Brasil IO](https://brasil.io/dataset/covid19/caso/), no dia 12-11-2020

In [27]:
dados_covid = pd.read_csv('https://www.dropbox.com/s/6vhga15llnr1wmo/caso_full.csv?dl=1')

### Exploração incial dos dados  
O objetivo de fazer uma exploração inicial na base de dados é identificar o comportamento do datast, falhas, necessidades  de conversão, tamanho das colunas e  outras informações necessárias ao desenvolvimento do projeto

In [28]:
#Amostra aleatoria do nosso data set
dados_covid.sample(10)

                            city  city_ibge_code  ... new_confirmed  new_deaths
731914    Santo Antônio do Grama       3160108.0  ...             0           0
310884                 Imigrante       4310363.0  ...             1           0
422598                  Belmonte       2903409.0  ...             6           0
23480                     Viçosa       2709400.0  ...             0           0
820239    São Sebastião do Passé       2929503.0  ...             2           0
926682                  Ibitiara       2913002.0  ...             0           0
317097                  Guaiçara       3517208.0  ...             0           0
816310        Ribas do Rio Pardo       5007109.0  ...             0           0
817938  Nova Brasilândia D'Oeste       1100148.0  ...             1           0
346220                 Guimarães       2104909.0  ...             0           0

[10 rows x 18 columns]

In [29]:
#formato do dataset, linhas x colunas
dados_covid.shape

(1038605, 18)

In [30]:
#Função para estatisticas basicas do nosso data set
dados_covid.describe()

       city_ibge_code  epidemiological_week  ...  new_confirmed    new_deaths
count    1.034478e+06          1.038605e+06  ...   1.038605e+06  1.038605e+06
mean     3.202752e+06          3.250429e+01  ...   1.085391e+01  3.110461e-01
std      1.013799e+06          8.190521e+00  ...   1.448364e+02  4.656631e+00
min      1.100000e+01          9.000000e+00  ...  -6.791000e+03 -1.870000e+02
25%      2.505006e+06          2.600000e+01  ...   0.000000e+00  0.000000e+00
50%      3.141405e+06          3.300000e+01  ...   0.000000e+00  0.000000e+00
75%      4.113809e+06          3.900000e+01  ...   2.000000e+00  0.000000e+00
max      5.300108e+06          4.600000e+01  ...   3.091300e+04  4.550000e+02

[8 rows x 11 columns]

In [31]:
#Util para saber os tipos dos dados em cada coluna
dados_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038605 entries, 0 to 1038604
Data columns (total 18 columns):
 #   Column                                         Non-Null Count    Dtype
---  ------                                         --------------    -----
 0   city                                           1032013 non-null  object
 1   city_ibge_code                                 1034478 non-null  float64
 2   date                                           1038605 non-null  object
 3   epidemiological_week                           1038605 non-null  int64
 4   estimated_population                           1034478 non-null  float64
 5   estimated_population_2019                      1034478 non-null  float64
 6   is_last                                        1038605 non-null  bool
 7   is_repeated                                    1038605 non-null  bool
 8   last_available_confirmed                       1038605 non-null  int64
 9   last_available_confirmed_per_100k_inhabitants  1020387 non-null  float64
 10  last_available_date                            1038605 non-null  object
 11  last_available_death_rate                      1038605 non-null  float64
 12  last_available_deaths                          1038605 non-null  int64
 13  order_for_place                                1038605 non-null  int64
 14  place_type                                     1038605 non-null  object
 15  state                                          1038605 non-null  object
 16  new_confirmed                                  1038605 non-null  int64
 17  new_deaths                                     1038605 non-null  int64
dtypes: bool(2), float64(5), int64(6), object(5)
memory usage: 128.8+ MB

É importante saber qual a porcentagem de dados validos(não nulos) da nossa base pois assim conseguimos garantir maior consistencia nos resultados. Caso tenha alguma coluna com um percentual baixo de dados validos, não irei considera-lo na analise.

In [32]:
round((dados_covid.notna().sum()/(dados_covid.notna().sum() + dados_covid.isna().sum()))*100,2)

city                                              99.37
city_ibge_code                                    99.60
date                                             100.00
epidemiological_week                             100.00
estimated_population                              99.60
estimated_population_2019                         99.60
is_last                                          100.00
is_repeated                                      100.00
last_available_confirmed                         100.00
last_available_confirmed_per_100k_inhabitants     98.25
last_available_date                              100.00
last_available_death_rate                        100.00
last_available_deaths                            100.00
order_for_place                                  100.00
place_type                                       100.00
state                                            100.00
new_confirmed                                    100.00
new_deaths                                       100.00
dtype: float64

### Limpeza do dataset

O próximo passo após exploração inicial é limpar e adequar o dataset de acordo com o nosso objetivo

In [33]:
#Converter o campo data para o tipo datetime
dados_covid['date'] = pd.to_datetime(dados_covid['date'], yearfirst=True)

A [documentação](https://github.com/turicas/covid19-br/blob/master/api.md#casos) da nossa fonte de dados informa  que os valores da coluna _estimated_population_2019_ está desatualizada e orienta utilizar a coluna _estimated_population_ portanto podemos excluir ela do nosso dataset

In [34]:
dados_covid.drop('estimated_population_2019', axis=1, inplace=True)

              city  city_ibge_code       date  ...  state  new_confirmed  new_deaths
0        São Paulo       3550308.0 2020-02-25  ...     SP              1           0
1              NaN            35.0 2020-02-25  ...     SP              1           0
2        São Paulo       3550308.0 2020-02-26  ...     SP              0           0
3              NaN            35.0 2020-02-26  ...     SP              0           0
4        São Paulo       3550308.0 2020-02-27  ...     SP              0           0
...            ...             ...        ...  ...    ...            ...         ...
1038600        NaN            43.0 2020-11-11  ...     RS           3174          33
1038601        NaN            42.0 2020-11-11  ...     SC           2711          25
1038602        NaN            28.0 2020-11-11  ...     SE             69           1
1038603        NaN            35.0 2020-11-11  ...     SP          24936         190
1038604        NaN            17.0 2020-11-11  ...     TO              0           0

[1038605 rows x 17 columns]